<link rel="stylesheet" href="bootstrap.css" type="text/css"/>
<style>
.btn-special {
    color: #FFF;
    background: none repeat scroll 0% 0% transparent;
    border: 2px solid #FFF;
}
.btn-special:hover{
	color: #4D7400;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.7);
}
body{
	background:green;
}
.fa-angle-right {
    margin-left: 4px;
}
.fa {
	display:inline-block;
	font-family:FontAwesome;
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
</style>
<a class="btn btn-lg btn-special" href="#">Location <i class="fa fa-angle-right"> > </i></a>