   
    
    
    
    <!-- =========================
     SECTION: TIMELINE   
    ============================== -->
    


    <section class="brief timeline white-bg" id="section8">
        <div class="container">
            
            <div class="row">
                
                <!-- TIMELINE HEADING / TEXT  -->
                <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s">
                    <div class="small-text-medium uppercase colored-text text-left">
                        Timeline
                    </div>
                    <h2 class="text-left dark-text"><strong>Amazing</strong> Journey</h2>
                    <div class="colored-line-left">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
                        <br/>
                        <br/>Main differentiators business model micro economics marketplace equity augmented reality human computer interaction. Board members super angel preferred stock.
                    </p>
                </div>
                
                <!-- TIMLEINE SCROLLER -->
                <div class="col-md-6 timeline-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s">
                    <ul class="vertical-timeline" id="timeline-scroll">
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text colored-text strong">
                                Jan, 12
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-ribbon-alt"></span>
                            </div>
                            <div class="info">
                                Drinking vinegar Echo Park selfies heirloom aesthetic, taxidermy keytar next level craft beer.
                            </div>
                        </li>
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text dark-text strong">
                                Apr, 14
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-piechart"></span>
                            </div>
                            <div class="info">
                                American Apparel meggings asymmetrical organic Marfa typewriter shabby chic Brooklyn, farm-to-table butcher.
                            </div>
                        </li>
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text dark-text strong">
                                Feb, 13
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-cart-alt"></span>
                            </div>
                            <div class="info">
                                Keytar stumptown hoodie, crucifix meggings messenger bag brunch deep v. High Life taxidermy mumblecore.
                            </div>
                        </li>
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text dark-text strong">
                                Dec, 13
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-paperclip"></span>
                            </div>
                            <div class="info">
                                Wayfarers Carles seitan, VHS bicycle rights normcore butcher skateboard bitters Portland cred.
                            </div>
                        </li>
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text dark-text strong">
                                May, 14
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-check"></span>
                            </div>
                            <div class="info">
                                Four loko Pitchfork cred irony selfies meggings lo-fi iPhone hashtag, craft beer Helvetica crucifix keytar.
                            </div>
                        </li>
                        
                        <!-- SINGLE TIMELINE -->
                        <li>
                            <div class="date small-text dark-text strong">
                                Oct, 14
                            </div>
                            <div class="icon-container color-bg white-text">
                                <span class="icon-lightbulb-alt"></span>
                            </div>
                            <div class="info">
                                Cosby sweater viral Etsy lo-fi Carles. Paleo kogi kale chips McSweeney's bicycle rights behind the scene.
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </section>
    
    <!-- =========================
     SECTION: TEAM   
    ============================== -->
    <section class="team grey-bg" id="section9">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Team
                </div>
                <h2 class="dark-text"><strong>Project</strong> Team</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>
            
            <!-- MEMBERS -->
            <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                
                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="images/team/1.jpg" alt="">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Albert Jacobs</h5>
                            <div class="small-text">
                                Founder &amp; CEO
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-facebook dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-pinterest dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="images/team/2.jpg" alt="">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">George Walker</h5>
                            <div class="small-text">
                                Web Developer
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-facebook dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-pinterest dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="images/team/3.jpg" alt="">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Frank Hanson</h5>
                            <div class="small-text">
                                UI Designer
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-facebook dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-pinterest dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- MEMBER -->
                <div class="col-md-3 col-sm-6 team-member">
                    <div class="wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                        <div class="member-pic">
                            <img src="images/team/4.jpg" alt="">
                        </div>
                        <div class="member-details">
                            <h5 class="colored-text">Emily Smith</h5>
                            <div class="small-text">
                                App Developer
                            </div>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <span class="icon-social-facebook dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-twitter dark-text"></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="icon-social-pinterest dark-text"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- =========================
     SECTION: TESTIMONIALS   
    ============================== -->
    <section class="testimonials white-bg" id="section10">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    Testimonials
                </div>
                <h2 class="dark-text"><strong>Happy</strong> Customers</h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading">
                    Cloud computing subscription model out of the box proactive solution.
                </div>
            </div>
            
            <div class="row no-gutters">
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback">
                        <div class="pic-container">
                            <img src="images/clients/1.jpg" alt="">
                        </div>
                        <p>
                            “Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.”
                        </p>
                        <h5 class="colored-text">-Eusebia Bărlâdeanu</h5>
                        <div class="small-text">
                            XYZ Interactive
                        </div>
                    </div>
                </div>
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="feedback border-left border-right">
                        <div class="pic-container">
                            <img src="images/clients/2.jpg" alt="">
                        </div>
                        <p>
                            “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                        </p>
                        <h5 class="colored-text">- Eusebia Bărlâdeanu</h5>
                        <div class="small-text">
                            AbZ Network
                        </div>
                    </div>
                </div>
                
                <!-- SINGLE FEEDBACK -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div id="feedback">
                        <div class="feedback">
                            <div class="pic-container">
                                <img src="images/clients/3.jpg" alt="">
                            </div>
                            <p>
                                “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                            </p>
                            <h5 class="colored-text">- Georgian Hrușcă</h5>
                            <div class="small-text">
                                ZyX LLC
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    <section class="call-to-action" id="section11" data-stellar-background-ratio="0.1">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row">
                
                    <div class="col-md-8 col-md-offset-2">
                    
                        <div class="uppercase colored-text strong">
                            Besoin de renseignements
                        </div>
                    
                        <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40">Nous vous rappelons</h2>
                    
                        <button class="btn btn-primary standard-button wow fadeInRight" data-wow-duration="2s" data-wow-offset="40" type="button" data-toggle="modal" data-target="#stamp-modal">Rappelez-moi</button>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- REGISTRATION FORM FOR POPUP BOX -->
    <div class="modal fade bs-example-modal-sm" id="stamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="vertical-registration-form">
                    <h4 class="dark-text form-heading">Je souhaite être rappelé</h4>
                    <form class="registration-form" id="contact-form">
                        <input type="text" id="cf-name" name="name" class="form-control input-box" placeholder="Nom">
                        <input type="email" id="cf-email" name="email" class="form-control input-box" placeholder="Email">
                        <input type="text" id="cf-subject" name="subject" class="form-control input-box" placeholder="Objet">
                        <textarea name="message" id="cf-message" class="form-control textarea-box" rows="4" placeholder="Message"></textarea>
                        <button class="btn btn-primary standard-button">Envoyez</button>
                    </form>
                    <p class="email-success dark-text">
                        <span class="icon-check-alt2 colored-text"></span>Email envoyé
                    </p>
                    <p class="email-error dark-text">
                        <span class="icon-close-alt2"></span>Erreur, merci de remplir les champs
                    </p>
                    <!-- MAILCHIMP ALERTS 
			        <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
			        <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
			        -->
                </div>
            </div>
        </div>
    </div>